
<!DOCTYPE html>
<html>
<head>
    <title>Raz Dent</title>
<link rel="stylesheet" type="text/css" href={{ url_for('static', filename = "tts_style.css") }}>
</head>
<body>
    <div style="overflow:scroll;">
    <h1>Raz Dent</h1>
    <br>
    <h2> Ki mo yê? | Who Am I? </h2>
    <br>
    <p>Mô nom çé Raz Dent. Mo étidjé tèknòloji lingwistik é mo rès a Lafrans,
    mé mo té né é èlvé o Jorji. 
    <br>3 zan pasé, mo komensé aprenn kréyòl kar famiy mô mær té
    sorti Lalwyizànn lontem pasé. Astœr, mo séyé kryé zouti pou sèrvi langaj kréyòl sur Internet.
    <br><br><br>
    I am a student in the Erasmus Mundus Master of Language and Communication
    Technology program. Originally from the state of Georgia, I completed the
    first year of my degree in Malta and am currently studying in Nancy, France.
    Some of my academic interests include automatic transliteration, 
    low-resource speech processing, synthetic data, language ideology and language revitalization.</p>
<br>

</div>
</body>
</html>