<!DOCTYPE html>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
        <script src="js/scripts.js"></script>
        <script src="jquery-3.5.1.min.js"></script>


	<script>
         function mySubmitFunction(e) {
         $(".ttsForm").submit(function() {
		 $("#submit").attr("disabled", true);
        
    var el1;
    var form = $(this);
    var actionUrl = "/";
    $.ajax({
        type: "POST",
        url: actionUrl,
        data: form.serialize(), // serializes the form's elements.
        success: function(data)
        {
		change(data["data"]["ouraudio"]);
		$("#submit").attr("disabled", false);

        }
    });

	 });

  return false;

		function change(sourceUrl) {
	var audio = $("#ouraudio");
        $("#1").attr("src", sourceUrl);
    /****************/
    audio[0].pause();
    audio[0].load();//suspends and restores all audio element

    //audio[0].play(); changed based on Sprachprofi's comment below
    audio[0].oncanplaythrough = audio[0].play();
    /****************/
}
}
        </script>


<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Speaker Transformation Across Language</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/icon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="#page-top">Multi Lingual TTS</a>
                <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#portfolio">Synthesis</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#about">About</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5" src="assets/img/avatar.png" alt="..." />
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Multilingual TTS</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">Software Project Winter Semester, University of Lorraine</p>
            </div>
        </header>
        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Synthesis</h2>
		<!--our form-->	
		    <h3 class="page-section-heading text-center text-uppercase text-secondary mb-0"></h3>
		    <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xl-7">
			<form class="ttsForm" align="center" onsubmit="return mySubmitFunction(event)">
			
			<div class="form-floating mb-3">
			    <label for="text">Please provide the text you wish to hear.</label><br><br>
			   
			    <textarea placeholder="Please provide the text you wish to hear." class="form-control" id="text" name="text" >
			    </textarea><br><br>
			 </div>
			 
        			<h2 class="text-center">Choose Following Options : </h2>
        	<div style="width: 50%; float:left">
			 <div class="form-floating mb-4 column3">
			    <label for="text_lang"  >Language of Text</label>
			    
			    <select  class="btn-group" name="text_lang" id="text_lang">
			      <option  value="en">English</option>
			      <option  value="fr">French</option>
			      <option  value="kv">Louisiana Creole</option>
			    </select> <br><br>
			 </div>
			 
			   
			    
			<div class="form-floating mb-4 column3">
				<label for="Rep"  >Language Representation</label>
			        <select  name="rep" id="rep">
			        <option  value="id">id (2 speakers)</option>
			        <option  value="emb">embeddings (6 speakers)</option>
			        </select><br><br>
			</div>
                  </div>
                  
                  <div style="width: 50%; float:right">   
			    
			<div class="form-floating mb-4">
			<label for="speaker">Speaker</label>
			    <select  name="speaker" id="speaker">
			   
			      <option  value=0>SIWIS (FR - F)</option>
			      <option  value=1>LJS (EN -F)</option>
			      <option  value=2>VCTK_239 (EN -F -model 2 only)</option>
			      <option  value=3>VCTK_259 (EN -M  -model 2 only)</option>
			      <option  value=4>Sympaflex (FR - F)</option>
			      <option  value=5>Tundra (FR - M)</option>
			    </select><br><br>
			  
			</div>
			
			<div class="form-floating mb-4">
			<label for="diffusion">Diffusion Rate</label>
			    <select  name="diffusion" id="diffusion">
			  
			      <option  value=50>50</option>
			      <option  value=25>25</option>
			      <option  value=10>10</option>
			      <option  value=5>5</option>
			    </select><br><br>
			    
			 </div>
			 
			 <div class="form-floating mb-4">
				<label for="compare">Compare to GTTS?</label>
				    <select   name="compare" id="compare">
				   
				      <option  value=0>0</option>
				      <option  value=1>1</option>
				    </select><br><br>
				    
			  <div>
		</div>
			  
  <br/>
  <br/>

			<br>
			<div class="form-floating mb-4">
				<input type=submit id="submit" class="btn btn-primary btn-xl" value="synthesize">
			</div>
			</form>
		   </div>
		   </div>
                  <div class="hide">
                The audio generated by our TTS system
                <audio controls id="ouraudio">
                  <source id="1" src="" type="audio/wav">
                Your browser does not support the audio element.
                </audio>

                <audio controls id="gradtts">
                  <source id="2" src="" type="audio/mpeg">
                Your browser does not support the audio element.
                </audio>
                </div>

		
		
            </div>
        </section>
        <!-- About Section-->
        <section class="page-section bg-primary text-white mb-0" id="about">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row">
                    <div class="col-lg-4 ms-auto"><p class="lead">We have introduced an adaptation of grad-TTS: Diffusion Probabilistic Model for Text-to-Speech
to generate expressive, speaker-specific voices in both English and French. </p></div>
                    <div class="col-lg-4 me-auto"><p class="lead">The homepage consists of a simple entry form where the user
can enter a text and specify which model, language and speaker combination they would like to listen to. After the
necessary information has been submitted, the text and parameters are passed to the inference script, which runs
the appropriate model from the local environment.</p></div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer text-center">
            <div class="container">
                <div class="row">
                    <!-- Footer Location-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Location</h4>
                        <p class="lead mb-0">
                            IDMC, Pôle Herbert Simon,
                            <br />
                            13 Rue Michel Ney, 54000 Nancy
                        </p>
                    </div>
                    <!-- Footer Social Icons-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Around the Web</h4>
                        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribble"></i></a>
                    </div>
                    <!-- Footer About Text-->
                    <div class="col-lg-4">
                        <h4 class="text-uppercase mb-4">About Freelancer</h4>
                        <p class="lead mb-0">
                            Freelance is a free to use, MIT licensed Bootstrap theme created by
                            <a href="http://startbootstrap.com">Start Bootstrap</a>
                            .
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Copyright Section-->
        <div class="copyright py-4 text-center text-white">
            <div class="container"><small>Copyright &copy; Your Website 2021</small></div>
        </div>
        <!-- Portfolio Modals-->
        <!-- Portfolio Modal 1-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
			<!--our form-->
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
    </body>
</html>
