<!DOCTYPE html>
<html>
<head>
    <title>Multilingual Multispeaker TTS</title>
<link rel="stylesheet" type="text/css" href={{ url_for('static', filename = "tts_style.css") }}>
</head>
<body>
<div style="overflow:scroll;">
<h1>Multilingual Multispeaker TTS</h1>
<p> <strong>Bonjour!</strong></p>
</p>
    <h3>Language Options</h3>
        <p>
            <br><strong>French</strong> 
	    <br><strong>English</strong> 
        </p>
<form action="/" method = "post">
<label for="text">Please provide the text you wish to hear.</label>
    <br>
    <textarea id="text" name="text">
    </textarea><br><br>
<label for="text_lang"  >Language of Text</label>
    <select name="text_lang" id="text_lang">
      <! French not working yet>
      <option value="en">English</option>
      <option value="fr">French</option>
    </select>
    <br>
<label for="lang_rep"  >Language Representation</label>
    <select name="lang_rep" id="lang_rep">
      <option value="id">id</option>
    </select>
    <br>
<label for="speaker_rep"  >Speaker Representation</label>
    <select name="speaker_rep" id="speaker_rep">
      <option value="id">id</option>
    </select>
    <br>
<label for="speaker">Speaker</label>
    <select name="speaker" id="speaker">
    <br>
      <option value=0>French</option>
      <option value=10>English</option>
    </select>
    <br>

<label for="diffusion">Diffusion Rate</label>
    <select name="diffusion" id="diffusion">
    <br>
      <option value=10>10</option>
      <option value=5>5</option>
      <option value=2>2</option>
    </select>
    <br>



<br>
<input type="submit" value="synthesize">
</form>

<audio controls>
  <source src="/out/web/latest.wav" autoplay="true" type="audio/wav">
Your browser does not support the audio element.
</audio>
<br>

<p>Claésia Costa, Rasul Dent, Anna Kriukova, Sharmila Upadhyaya Last updated: <strong>-</strong></p>

</div>
</body>
</html>